*{
    margin: 0;
    padding: 0;
}
input:focus{
    background-color: pink;
}
h1{
    background-color: aliceblue;
}
p{
    text-decoration:underline;
    text-decoration-color: aqua;
}
table{
    border: 2px solid;
    border: 2px double;
    border: 2px dotted;
}
table tr td{
   border: 2px solid;
   border: 2px double;
   border-color: pink green brown orange;
}